# Skopiuj ten plik i zapisz jako .env, następnie dostosuj wartość IP do swojego serwera
# Flutter musi być uruchomiony z flagą:
# flutter run --dart-define-from-file=.env
API_URL=http://192.168.68.108:8000
